{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'pages/css/pricing.min.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block content %}
<!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light " id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                          <i class=" icon-layers font-red"></i>
                          <span class="caption-subject font-red bold uppercase"> Invoice Data 
                          </span>
                        </div>
                        <button type="button" class="btn btn-default pull-right">UPLOAD FILE</button>
                        <div style="width: 20%; float: right;">
                          <form class="search-form" action="#" method="GET">
                              <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Filter" name="query">
                                  <span class="input-group-btn">
                                      <a href="javascript:;" class="btn submit">
                                          <i class="icon-magnifier"></i>
                                      </a>
                                  </span>
                              </div>
                          </form>
                        </div>
                    </div>
                    <div class="portlet-body form">
                      <div class="mt-comments">
                        <div class="mt-comment">
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="bold">Invoice # :</span><span style="margin-left:15px;" class=""> 8659456</span>
                                    <span class="bold" style="margin-left : 30px;">Amount :</span><span style="margin-left:15px;" class=""> $4500</span>
                                    <span class="bold" style="margin-left : 30px;">Patient Name :</span><span style="margin-left:15px;" class=""> Jone Doe</span>
                                    <span class="mt-comment-date">Paid in full</span>
                                </div>                              
                                <div class="mt-comment-details">
                                    <span class="bold">Recon Keys :</span>
                                    <span style="margin-left:10px;" class=""> RK1323,</span>
                                    <span style="margin-left:10px;" class=""> RK3531,</span>
                                    <span style="margin-left:10px;" class=""> RK9340,</span>
                                    <span style="margin-left:10px;" class=""> RK0938</span>
                                    <ul class="mt-comment-actions">
                                        <li>
                                            <a href="#">Quick Edit</a>
                                        </li>
                                        <li>
                                            <a href="#">View</a>
                                        </li>
                                        <li>
                                            <a href="#">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-comment" style="background-color: #fafafa;">
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="bold">Invoice # :</span><span style="margin-left:15px;" class=""> 8659456</span>
                                    <span class="bold" style="margin-left : 30px;">Amount :</span><span style="margin-left:15px;" class=""> $4500</span>
                                    <span class="bold" style="margin-left : 30px;">Patient Name :</span><span style="margin-left:15px;" class=""> Jone Doe</span>
                                    <span class="mt-comment-date">Paid in full</span>
                                </div>                              
                                <div class="mt-comment-details">
                                    <span class="bold">Recon Keys :</span>
                                    <span style="margin-left:10px;" class=""> RK1323,</span>
                                    <span style="margin-left:10px;" class=""> RK3531,</span>
                                    <span style="margin-left:10px;" class=""> RK9340,</span>
                                    <span style="margin-left:10px;" class=""> RK0938</span>
                                    <ul class="mt-comment-actions">
                                        <li>
                                            <a href="#">Quick Edit</a>
                                        </li>
                                        <li>
                                            <a href="#">View</a>
                                        </li>
                                        <li>
                                            <a href="#">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-comment">
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="bold">Invoice # :</span><span style="margin-left:15px;" class=""> 8659456</span>
                                    <span class="bold" style="margin-left : 30px;">Amount :</span><span style="margin-left:15px;" class=""> $4500</span>
                                    <span class="bold" style="margin-left : 30px;">Patient Name :</span><span style="margin-left:15px;" class=""> Jone Doe</span>
                                    <span class="mt-comment-date">Paid in full</span>
                                </div>                              
                                <div class="mt-comment-details">
                                    <span class="bold">Recon Keys :</span>
                                    <span style="margin-left:10px;" class=""> RK1323,</span>
                                    <span style="margin-left:10px;" class=""> RK3531,</span>
                                    <span style="margin-left:10px;" class=""> RK9340,</span>
                                    <span style="margin-left:10px;" class=""> RK0938</span>
                                    <ul class="mt-comment-actions">
                                        <li>
                                            <a href="#">Quick Edit</a>
                                        </li>
                                        <li>
                                            <a href="#">View</a>
                                        </li>
                                        <li>
                                            <a href="#">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-comment" style="background-color: #fafafa;">
                            <div class="mt-comment-body">
                                <div class="mt-comment-info">
                                    <span class="bold">Invoice # :</span><span style="margin-left:15px;" class=""> 8659456</span>
                                    <span class="bold" style="margin-left : 30px;">Amount :</span><span style="margin-left:15px;" class=""> $4500</span>
                                    <span class="bold" style="margin-left : 30px;">Patient Name :</span><span style="margin-left:15px;" class=""> Jone Doe</span>
                                    <span class="mt-comment-date">Paid in full</span>
                                </div>                              
                                <div class="mt-comment-details">
                                    <span class="bold">Recon Keys :</span>
                                    <span style="margin-left:10px;" class=""> RK1323,</span>
                                    <span style="margin-left:10px;" class=""> RK3531,</span>
                                    <span style="margin-left:10px;" class=""> RK9340,</span>
                                    <span style="margin-left:10px;" class=""> RK0938</span>
                                    <ul class="mt-comment-actions">
                                        <li>
                                            <a href="#">Quick Edit</a>
                                        </li>
                                        <li>
                                            <a href="#">View</a>
                                        </li>
                                        <li>
                                            <a href="#">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>   
            </div>  
        </div>
    </div>      
    <!-- END PAGE CONTENT INNER -->
{% endblock %}
{% block extra_js %}
{% endblock %}
