{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% load humanize %}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'pages/css/pricing.min.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block content %}
<!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light " id="form_wizard_1" style="margin-bottom : 0px;">
                    <div class="portlet-title" style="border : none;">
                        <div class="caption col-md-4 col-sm-5 col-xs-12">
                          <i class="fa fa-life-ring font-red"></i>
                          <span class="caption-subject font-red bold uppercase">
                            KT TimeCard Data
                          </span>
                        </div>
                        <form action="{% url 'search_batch_no' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-3 col-sm-4 col-xs-10 pull-right">
                                <div class="input-group select2-bootstrap-append">
                                    <select id="single-append-text" class="form-control select2-allow-clear" name="kt_tc_batch_no">
                                        <option></option>
                                        {% for batch in kt_tc_batch_no_arr %}
                                            <option value="{{ batch.batch_no}}">{{ batch.batch_no }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'clear_data' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default pull-right" name="refresh" value="timecard_kt_data"><i class="fa fa-plus"></i></button>
                        </form>
                    </div>
                    <div class="portlet-body">
                          <ul class="nav nav-tabs">
                            <li class="{% ifequal view 'batch' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_1" data-toggle="tab" class="caption-subject font-green bold uppercase"> Batches </a>
                            </li>
                            <li class="{% ifequal view 'detail' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_2" data-toggle="tab" class="caption-subject font-green bold uppercase"> TimeCards </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade {% ifequal view 'batch' %} active in{% else %} '' {% endifequal %} in" id="tab_1_1">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="tools"></div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_4">
                                            <thead>
                                                <tr>
                                                    <td class="all"> batch_no</td>
                                                    <td class="min-tablet"> count </td>
                                                    <td class="min-tablet"> date/time created </td>
                                                    <td class="all"> actions </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for batch in kt_tc_batch_no_arr %}
                                                  <tr>
                                                    <td  class="all"> {{ batch.batch_no }} </td> 
                                                    <td class="min-tablet"> {{ batch.count }} </td> 
                                                    <td class="min-tablet"> {{ batch.uploaded_date }} </td> 
                                                    <td  class="all"> 
                                                        <a class="btn btn-default pull-right" data-target="#static" data-toggle="modal" style="margin-left: 5px;">Delete</a>
                                                        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                                            <div class="modal-body" style="text-align: center;">
                                                                <p style="font-size: 18px;"> Are you sure? </p>
                                                            </div>
                                                            <div class="modal-footer" style="text-align: center;" >
                                                                <form action="{% url 'remove_data' %}" method="POST">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="batch_no" value="{{ batch.batch_no }}">
                                                                    <button type="submit" class="btn green" name="refresh" value="timecard_kt_data" style="width : 80px ;">Yes</button>
                                                                    <button type="button" data-dismiss="modal" class="btn btn-default" style="width : 80px ;">No</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <form action="{% url 'search_batch_no' %}" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-default pull-right" name="kt_tc_batch_no" value={{ batch.batch_no }} >View</button>
                                                        </form>
                                                    </td> 
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           <div class="tab-pane fade {% ifequal view 'detail' %} active in{% else %} '' {% endifequal %} " id="tab_1_2">
                                <div class="portlet-body form" id="content">
                                    {% if not timecard_kt_arr %}
                                        <div class="page-content-inner" style="display: flex;">
                                            <form action="{% url 'timecard_board' %}" class="dropzone dropzone-file-area col-md-4 col-xs-5" method="POST" enctype="multipart/form-data" id="my-dropzone" style="margin-top : 20px;margin-bottom : 20px;">
                                                {% csrf_token %}
                                                <h3 class="sbold" id="file_upload">Drop files here or click here</h3>
                                            </form>
                                        </div>
                                    {% endif %}
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="tools"></div>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_3">
                                                    <thead>
                                                      <tr>
                                                          <td class="all"> batch_no </td>
                                                          <td class="all"> time_card_id </td>
                                                          <td class="min-tablet"> authorization </td>
                                                          <td class="min-tablet"> bill_mode </td>
                                                          <td class="min-tablet"> bill_rate </td>
                                                          <td class="min-tablet"> billable </td>
                                                          <td class="none"> case_manager_first_name </td>
                                                          <td class="none"> case_manager_last_name </td>
                                                          <td class="none"> checkin_time </td>
                                                          <td class="none"> checkout_time </td>
                                                          <td class="none"> client_first_name </td>
                                                          <td class="none"> client_last_name </td>
                                                          <td class="none"> client_dob </td>
                                                          <td class="none"> clinician_first_name </td>
                                                          <td class="none"> clinician_last_name </td>
                                                          <td class="none"> clinician_id </td>
                                                          <td class="none"> clinician_payroll_group </td>
                                                          <td class="none"> clinician_payroll_id </td>
                                                          <td class="none"> clinician_payroll_rule </td>
                                                          <td class="none"> clinician_skills </td>
                                                          <td class="none"> clinician_ssn </td>
                                                          <td class="none"> cosign_staff_first_name </td>
                                                          <td class="none"> cosign_staff_last_name </td>
                                                          <td class="none"> edited_hours </td>
                                                          <td class="none"> episode_duration </td>
                                                          <td class="none"> episode_number </td>
                                                          <td class="none"> episode_start_date </td>
                                                          <td class="none"> episode_end_date </td>
                                                          <td class="none"> has_split_schedules </td>
                                                          <td class="none"> hcpcs_code </td>
                                                          <td class="none"> location </td>
                                                          <td class="none"> marital_status </td>
                                                          <td class="none"> medicaid </td>
                                                          <td class="none"> patient_id </td>
                                                          <td class="none"> payroll </td>
                                                          <td class="none"> payroll_mode </td>
                                                          <td class="none"> payroll_rate </td>
                                                          <td class="none"> payrolled </td>
                                                          <td class="none"> schedule_status </td>
                                                          <td class="none"> units </td>
                                                          <td class="none"> visit_date </td>
                                                          <td class="none"> client_lob </td>
                                                          <td class="none"> insurance_id </td>
                                                          <td class="none"> payer </td>
                                                          <td class="none"> clinician_discipline </td>
                                                          <td class="none"> service </td>
                                                          <td class="none"> employment_type </td>
                                                          <td class="none"> invoice_no </td>
                                                          <td class="none"> miles </td>
                                                          <td class="none"> visit_id </td>
                                                          <td class="none"> payroll_batch_id </td>
                                                          <td class="none"> authorization </td>
                                                          <td class="none"> bill_mode </td>
                                                          <td class="none"> shift </td>
                                                          <td class="none"> uid </td>
                                                          <td class="all"> action </td>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      {% for timecard in timecard_kt_arr %}
                                                        <tr>
                                                          <td class="all"> {{ timecard.batch_no }} </td>
                                                           <td class="all"> {{ timecard.time_card_id }} </td>
                                                           <td class="min-tablet"> {{ timecard.authorization }} </td>
                                                           <td class="min-tablet"> {{ timecard.bill_mode }} </td>
                                                           <td class="min-tablet"> {{ timecard.bill_rate }} </td>
                                                           <td class="min-tablet"> {{ timecard.billable }} </td>
                                                           <td class="none"> {{ timecard.case_manager_first_name }} </td>
                                                           <td class="none"> {{ timecard.case_manager_last_name }} </td>
                                                           <td class="none"> {{ timecard.checkin_time }} </td>
                                                           <td class="none"> {{ timecard.checkout_time }} </td>
                                                           <td class="none"> {{ timecard.client_first_name }} </td>
                                                           <td class="none"> {{ timecard.client_last_name }} </td>
                                                           <td class="none"> {{ timecard.client_dob }} </td>
                                                           <td class="none"> {{ timecard.clinician_first_name }} </td>
                                                           <td class="none"> {{ timecard.clinician_last_name }} </td>
                                                           <td class="none"> {{ timecard.clinician_id }} </td>
                                                           <td class="none"> {{ timecard.clinician_payroll_group }} </td>
                                                           <td class="none"> {{ timecard.clinician_payroll_id }} </td>
                                                           <td class="none"> {{ timecard.clinician_payroll_rule }} </td>
                                                           <td class="none"> {{ timecard.clinician_skills }} </td>
                                                           <td class="none"> {{ timecard.clinician_ssn }} </td>
                                                           <td class="none"> {{ timecard.cosign_staff_first_name }} </td>
                                                           <td class="none"> {{ timecard.cosign_staff_last_name }} </td>
                                                           <td class="none"> {{ timecard.edited_hours }} </td>
                                                           <td class="none"> {{ timecard.episode_duration }} </td>
                                                           <td class="none"> {{ timecard.episode_number }} </td>
                                                           <td class="none"> {{ timecard.episode_start_date }} </td>
                                                           <td class="none"> {{ timecard.episode_end_date }} </td>
                                                           <td class="none"> {{ timecard.has_split_schedules }} </td>
                                                           <td class="none"> {{ timecard.hcpcs_code }} </td>
                                                           <td class="none"> {{ timecard.location }} </td>
                                                           <td class="none"> {{ timecard.marital_status }} </td>
                                                           <td class="none"> {{ timecard.medicaid }} </td>
                                                           <td class="none"> {{ timecard.patient_id }} </td>
                                                           <td class="none"> {{ timecard.payroll }} </td>
                                                           <td class="none"> {{ timecard.payroll_mode }} </td>
                                                           <td class="none"> {{ timecard.payroll_rate }} </td>
                                                           <td class="none"> {{ timecard.payrolled }} </td>
                                                           <td class="none"> {{ timecard.schedule_status }} </td>
                                                           <td class="none"> {{ timecard.units }} </td>
                                                           <td class="none"> {{ timecard.visit_date }} </td>
                                                           <td class="none"> {{ timecard.client_lob }} </td>
                                                           <td class="none"> {{ timecard.insurance_id }} </td>
                                                           <td class="none"> {{ timecard.payer }} </td>
                                                           <td class="none"> {{ timecard.clinician_discipline }} </td>
                                                           <td class="none"> {{ timecard.service }} </td>
                                                           <td class="none"> {{ timecard.employment_type }} </td>
                                                           <td class="none"> {{ timecard.invoice_no }} </td>
                                                           <td class="none"> {{ timecard.miles }} </td>
                                                           <td class="none"> {{ timecard.visit_id }} </td>
                                                           <td class="none"> {{ timecard.payroll_batch_id }} </td>
                                                           <td class="none"> {{ timecard.authorization }} </td>
                                                           <td class="none"> {{ timecard.bill_mode }} </td>
                                                           <td class="none"> {{ timecard.shift }} </td>
                                                           <td class="none"> {{ timecard.uid }} </td>
                                                           <td class="all"><a class="pull-right btn btn-default" data-target="#modal{{ timecard.time_card_id  }}" data-toggle="modal">View</a></td>
                                                        </tr>
                                                        <div class="modal right fade" id="modal{{ timecard.time_card_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                                                          <div class="modal-dialog" role="document">
                                                              <div class="modal-content">
                                                                  <div class="modal-header">
                                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                      <h4 class="modal-title font-red bold uppercase" id="myModalLabel2"><i class="fa fa-life-ring font-red"></i> TimeCard Id : {{ timecard.time_card_id }}</h4>
                                                                  </div>
                                                                  <div class="modal-body">
                                                                      <ul class="list-group">
                                                                          <li class="list-group-item"> <span class="property-name"> Authorization :</span> {{ timecard.authorization }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Bill Mode :</span> {{ timecard.bill_mode }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name">  Bill Rate :</span> {{ timecard.bill_rate }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Billable :</span> {{ timecard.billable }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Case Manager First Name :</span> {{ timecard.case_manager_first_name }}  </li> 
                                                                          <li class="list-group-item">  <span class="property-name"> Case Management Last Name :</span> {{ timecard.case_manager_last_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Checkin Time : </span> {{ timecard.checkin_time }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Checkout Time : </span> {{ timecard.checkout_time }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Client First Name : </span> {{ timecard.client_first_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> CLient Last Name : </span> {{ timecard.client_last_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> client_dob : </span> {{ timecard.client_dob }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> clinician_first_name  : </span> {{ timecard.clinician_first_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Last Name : </span> {{ timecard.clinician_last_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Id : </span> {{ timecard.clinician_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Payroll Group : </span> {{ timecard.clinician_payroll_group }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Payroll Id : </span> {{ timecard.clinician_payroll_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Payroll Rule : </span> {{ timecard.clinician_payroll_rule }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian Skills : </span> {{ timecard.clinician_skills }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clincian SSN : </span> {{ timecard.clinician_ssn }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Cosign Staff First Name : </span> {{ timecard.cosign_staff_first_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Cosign Staff Last Name : </span> {{ timecard.cosign_staff_last_name }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Edited Hours : </span> {{ timecard.edited_hours }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Episode Duration : </span> {{ timecard.episode_duration }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Episode Number : </span> {{ timecard.episode_number }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Episode Start Date : </span> {{ timecard.episode_start_date }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Episode End Date : </span> {{ timecard.episode_end_date }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Has Split Schedules : </span> {{ timecard.has_split_schedules }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Hcpcs Code : </span> {{ timecard.hcpcs_code }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Location : </span> {{ timecard.location }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Marital Status : </span> {{ timecard.marital_status }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Medicaid : </span> {{ timecard.medicaid }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Patient Id : </span> {{ timecard.patient_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payroll : </span> {{ timecard.payroll }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payroll Mode : </span> {{ timecard.payroll_mode }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payroll Rate : </span> {{ timecard.payroll_rate }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payrolled : </span> {{ timecard.payrolled }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Schedule Status : </span> {{ timecard.schedule_status }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Units : </span> {{ timecard.units }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Visit Date : </span> {{ timecard.visit_date }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Client Lob : </span> {{ timecard.client_lob }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Insurance Id : </span> {{ timecard.insurance_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payer : </span> {{ timecard.payer }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Clinician Discipline : </span> {{ timecard.clinician_discipline }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Service : </span> {{ timecard.service }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Employment Type : </span> {{ timecard.employment_type }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Invoice No : </span> {{ timecard.invoice_no }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Miles : </span> {{ timecard.miles }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Visit Id : </span> {{ timecard.visit_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Payroll Batch Id : </span> {{ timecard.payroll_batch_id }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Authorization : </span> {{ timecard.authorization }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Bill Mode : </span> {{ timecard.bill_mode }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Shift : </span> {{ timecard.shift }}  </li> 
                                                                          <li class="list-group-item"> <span class="property-name"> Uid : </span> {{ timecard.uid }}  </li> 
                                                                      </ul>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                       </div>
                                                      {% endfor %}
                                                  </tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>  
        </div>
    </div>      
    <!-- END PAGE CONTENT INNER -->
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready( 
        Dropzone.options.myDropzone = {
            dictDefaultMessage: "",
            init: function() {
                this.on("addedfile", function(file) {
                    // Create the remove button
                    var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn red btn-sm btn-block'>Remove</a>");
                    
                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function(e) {
                      // Make sure the button click doesn't submit the form:
                      e.preventDefault();
                      e.stopPropagation();

                      // Remove the file preview.
                      _this.removeFile(file);
                      // If you want to the delete the file on the server as well,
                      // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                    // $("#my-dropzone").submit().delay(5000);
                });

                this.on("success", function(file, responseText) {
                    console.log(responseText); // console should show the ID you pointed to
                    // $("#content").html(responseText);    
                    location.reload();
                    // do stuff with file.id ...
                });
            }            
        }
    );
</script>
{% endblock %}
