.data_table .child{
	text-align : center;
}


td {
	text-align: center !important;
	vertical-align: middle !important;
}

.exit_modal i{
	font-size: 24px; 
	position: relative; 
	top: 3px;
	right: 10px;
	color : #999;
}

.list-group-item {
	border: none;	
	font-size: 16px;
	color : #999;
	line-height: 30px;
}
.list-group-item .property-name {
	word-wrap: break-word;
	color : #111 !important;
}

.list-group {
	padding-left: 10px;
	padding-right: 10px;
}

.modal-title {
	padding-left: 25px;
}

.dt-button.buttons-csv.buttons-html5{
	background-color : white;
}

.fullscreen {
	border: 1px solid #e2e6ed;
    color: #666666;
    width: 100px;
    position: relative;
    height: 30px;
    padding: 6px !important;
    margin-right: 55px;
    top: 2px;
}

.none {
	display: none;
}

.child {
	display: none;
}

.a_r_status span {
	padding : 9px !important;
	font-size: 13px !important;
	color : #999;
}

.radio-group{
	display: flex;
	font-size: 16px;
}

.radio {
	margin-top: 0px !important;

	margin-right: 10px;
}

.radio-group input{
	width : 20px;
	height: 20px;
	margin-top: 5px;
}

/*.cash-post {
	width: 750px !important;
}
*/
td:first-child:before {
	display: none !important;
}


/*@media (max-width: 780px) {
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		width: 720px !important;
	}
}*/


@media (max-width: 480px) {
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		width : 350px !important;
	}
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 750px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 15px;
	}

/*Left*/
    .modal.left.fade .modal-dialog{
    	top: 0px;
        left: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
             -o-transition: opacity 0.3s linear, left 0.3s ease-out;
                transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    .modal.left.fade.in .modal-dialog{
        left: 0;
    }
        
/*Right*/
	.modal.right.fade .modal-dialog {
		top: 0px;
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
