{% load staticfiles %}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>CASH MANAGEMENT</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #3 for Portfolio 3 - Lightbox Grid" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'global/css/components-md.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'global/css/components.min.css' %}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'global/css/plugins-md.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->

        <!-- BEGIN PAGE LEVEL STYLES -->
        <!-- END PAGE LEVEL STYLES -->

        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'layouts/layout3/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'layouts/layout3/css/themes/default.min.css' %}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'layouts/layout3/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link href="{% static 'global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/dropzone/dropzone.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/dropzone/basic.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'global/plugins/bootstrap-toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
        {% block extra_css %}{% endblock %}
        <link rel="shortcut icon" href="favicon.ico" /> 
    
        </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid page-md">
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                     {% if request.session.user != None %}
                    <!-- BEGIN HEADER -->
                    <div class="page-header" style="height: inherit;">
                        <!-- END HEADER TOP -->
                        <!-- BEGIN HEADER MENU -->
                        <div class="page-header-top" style="height : 0px;">
                            <div class="container">
                                <!-- BEGIN LOGO -->
                                <!-- END LOGO -->
                                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                                <a href="javascript:;" class="menu-toggler"></a>
                                <!-- END RESPONSIVE MENU TOGGLER -->
                                <!-- BEGIN TOP NAVIGATION MENU -->
                                
                                <!-- END TOP NAVIGATION MENU -->
                            </div>
                        </div>
                        <div class="page-header-menu">
                            <div class="container">
                                <div class="top-menu pull-right" >                               

                                </div>
                                <div class="hor-menu  ">
                                    <ul class="nav navbar-nav">
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown " style="width : 70px;">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding: 5px;">
                                                <img alt="" class="img-circle" src="{% static 'pages/img/avatars/team16.jpg' %}" style="width: 40px;">
                                                <span class="username username-hide-mobile">{{request.session.user.firstname}} {{request.session.user.firstname }}</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-default">
                                                <li>
                                                    <a href="{% url 'home' %}">
                                                        <i class="icon-user"></i> My Profile </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'changePwd' %}">
                                                        <i class="icon-lock"></i> Change Password </a>
                                                </li>
                                                <li class="divider"> </li>
                                                <li>
                                                    <a href="{% url 'logout' %}">
                                                        <i class="icon-key"></i> Log Out </a>
                                                </li>
                                            </ul>
                                        </li> 
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="{% url 'invoice_board' %}" > 
                                                <i class="fa fa-life-ring"></i>Invoice Data
                                                <span class="arrow"></span>
                                            </a>
                                            <!-- <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class=" active">
                                                    <a href="{% url 'invoice_board' %}" class="nav-link  active">
                                                        <i class="icon-bar-chart"></i>Invoice Raw Data
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'invoice_simple_board' %}" class="nav-link  ">
                                                        <i class="icon-bulb"></i> Invoice Simple Data 
                                                    </a>
                                                </li>
                                            </ul> -->
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;"> 
                                                <i class="fa fa-tasks"></i>Time Card Data
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class=" active">
                                                    <a href="{% url 'timecard_board' %}" class="nav-link  active">
                                                        <i class="icon-bar-chart"></i>KT Time Card Data
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'timecard_hb_board' %}" class="nav-link  ">
                                                        <i class="icon-bulb"></i> HB Time Card Data 
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                         <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="javascript:;"> 
                                                <i class="fa fa-database"></i>Recon Key Data
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class=" active">
                                                    <a href="{% url 'reconkeys_board' %}" class="nav-link  active">
                                                        <i class="icon-bar-chart"></i>KT Recon Keys Data
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'reconkeys_hb_board' %}" class="nav-link  ">
                                                        <i class="icon-bulb"></i> HB Recon Keys Data 
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="{% url 'payment_board' %}"> 
                                                <i class="fa fa-credit-card"></i>Payment Data
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a  href="javascript:;"> 
                                                <i class="fa fa-sticky-note-o"></i>Report
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class=" active">
                                                    <a href="{% url 'report' %}" class="nav-link  ">
                                                        <i class="icon-graph"></i> Summary
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'generated_invoice' %}" class="nav-link  active">
                                                        <i class="fa fa-life-ring"></i>Generated Invoices
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'unused_invoice' %}" class="nav-link  ">
                                                        <i class="fa fa-life-ring"></i> Unused Invoice
                                                    </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                   <a href="{% url 'imported_payment' %}" class="nav-link  ">
                                                        <i class="fa fa-credit-card"></i> Imported Payment </a>
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a href="{% url 'unused_payment' %}" class="nav-link  ">
                                                        <i class="fa fa-credit-card"></i> Unused Payment
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown ">
                                            <a href="{% url 'matching_by_recon_key' %}"> 
                                                <i class="fa fa-credit-card"></i>Cash Post
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>    
                            </div>
                        </div>
                       
                        <!-- END HEADER MENU -->
                    </div>
                    <!-- END HEADER -->
                     {% endif %}
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content" style="padding: 1px">
                                <div class="container" style="padding: 1px;">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
        </div>
        
        <!--[if lt IE 9]>
<script src="{% static 'global/plugins/respond.min.js"></script>
<script src="{% static 'global/plugins/excanvas.min.js"></script> 
<script src="{% static 'global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'global/plugins/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/js.cookie.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'global/plugins/moment.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="{% static 'pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/table-datatables-managed.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'layouts/layout3/scripts/layout.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'layouts/layout3/scripts/demo.min.js' %}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script src="{% static 'pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/dropzone/dropzone.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/ui-extended-modals.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-modal/js/bootstrap-modal.js' %}" type="text/javascript"></script>
        <script src="{% static 'pages/scripts/ui-toastr.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'global/plugins/bootstrap-toastr/toastr.min.js' %}" type="text/javascript"></script>


        <script type="text/javascript">
            $(document).ready(function() {

                toastr.options = {

                     "closeButton": true,
                      "debug": false,
                      "positionClass": "toast-top-right",
                      "onclick": null,
                      "showDuration": "1000",
                      "hideDuration": "1000",
                      "timeOut": "5000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"

                    };

                $('#cash_post').click(function () {

                    toastr.info('', 'Posted Successfully!');

                });
            });

        </script>

        {% block extra_js %}{% endblock %}
    </body>

</html>
