{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% load humanize %}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'pages/css/pricing.min.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block content %}
<!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light " id="form_wizard_1" style="margin-bottom : 0px;">
                    <div class="portlet-title" style="border : none;">
                        <div class="caption col-md-4 col-sm-5 col-xs-12">
                          <i class="fa fa-life-ring font-red"></i>
                          <span class="caption-subject font-red bold uppercase">
                            HB Recon Keys Data
                          </span>
                        </div>
                        <form action="{% url 'search_batch_no' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-3 col-sm-4 col-xs-10 pull-right">
                                <div class="input-group select2-bootstrap-append">
                                    <select id="single-append-text" class="form-control select2-allow-clear" name="hb_rk_batch_no">
                                        <option></option>
                                        {% for batch in hb_rk_batch_no_arr%}
                                            <option value="{{ batch.batch_no}}">{{ batch.batch_no }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'clear_data' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default pull-right" name="refresh" value="reconkeys_hb_data"><i class="fa fa-plus"></i></button>
                        </form>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav nav-tabs">
                            <li class="{% ifequal view 'batch' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_1" data-toggle="tab" class="caption-subject font-green bold uppercase"> Batches </a>
                            </li>
                            <li class="{% ifequal view 'detail' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_2" data-toggle="tab" class="caption-subject font-green bold uppercase"> Recon Keys </a>
                            </li>
                        </ul>  
                        <div class="tab-content">
                            <div class="tab-pane fade {% ifequal view 'batch' %} active in{% else %} '' {% endifequal %} in" id="tab_1_1">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="tools"></div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_4">
                                            <thead>
                                                <tr>
                                                    <td class="all"> batch_no</td>
                                                    <td class="all"> count </td>
                                                    <td class="min-tablet"> date/time created </td>
                                                    <td class="min-tablet"> Actions </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for batch in hb_rk_batch_no_arr %}
                                                  <tr>
                                                    <td  class="all"> {{ batch.batch_no }} </td> 
                                                    <td class="all"> {{ batch.count }} </td> 
                                                    <td class="all"> {{ batch.uploaded_date }} </td> 
                                                    <td  class="all"> 
                                                        <a class="btn btn-default pull-right" data-target="#static" data-toggle="modal" style="margin-left: 5px;"> <i class="fa fa-trash"></i></a>
                                                        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                                            <div class="modal-body" style="text-align: center;">
                                                                <p style="font-size: 18px;"> Are you sure? </p>
                                                            </div>
                                                            <div class="modal-footer" style="text-align: center;" >
                                                                <form action="{% url 'remove_data' %}" method="POST">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="batch_no" value="{{ batch.batch_no }}">
                                                                    <button type="submit" class="btn green" name="refresh" value="reconkeys_hb_data" style="width : 80px ;">Yes</button>
                                                                    <button type="button" data-dismiss="modal" class="btn btn-default" style="width : 80px ;">No</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <form action="{% url 'search_batch_no' %}" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-default pull-right" name="hb_rk_batch_no" value={{ batch.batch_no }} ><i class="fa fa-eye"></i></button>
                                                        </form>
                                                    </td> 
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           <div class="tab-pane fade {% ifequal view 'detail' %} active in{% else %} '' {% endifequal %} " id="tab_1_2">
                                <div class="portlet-body form" id="content">
                                    {% if not reconkeys_hb_arr %}
                                        <div class="page-content-inner" style="display: flex;">
                                            <form action="{% url 'reconkeys_hb_board' %}" class="dropzone dropzone-file-area col-md-4 col-xs-5" method="POST" enctype="multipart/form-data" id="my-dropzone" style="margin-top : 20px;margin-bottom : 20px;">
                                                {% csrf_token %}
                                                <h3 class="sbold" id="file_upload">Drop files here or click here</h3>
                                            </form>
                                        </div>
                                    {% endif %}
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="tools"></div>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_3">
                                                    <thead>
                                                        <tr>
                                                            <td class="all"> batch_no </td>
                                                            <td class="all"> row_id </td>
                                                            <td class="all"> branch </td>
                                                            <td class="min-tablet"> funding_source </td>
                                                            <td class="min-tablet"> post_date </td>
                                                            <td class="none"> date_created </td>
                                                            <td class="none"> client_facility_name </td>
                                                            <td class="none"> shift_date </td>
                                                            <td class="none"> invoice </td>
                                                            <td class="none"> description </td>
                                                            <td class="none"> rev_code </td>
                                                            <td class="none"> hcpcs_cpt_code </td>
                                                            <td class="none"> quantity_units </td>
                                                            <td class="none"> orig_charge </td>
                                                            <td class="none"> adjustments </td>
                                                            <td class="none"> amount </td>
                                                            <td class="none"> balance </td>
                                                            <td class="none"> key_id </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for reconkey in reconkeys_hb_arr %}
                                                          <tr>
                                                            <td class="all"> {{ reconkey.batch_no }}</td>
                                                            <td class="all"> {{ reconkey.row_id }}</td>
                                                            <td class="all"> {{ reconkey.branch }}</td>
                                                            <td class="min-tablet"> {{ reconkey.funding_source }}</td>
                                                            <td class="min-tablet"> {{ reconkey.post_date }}</td>
                                                            <td class="none"> {{ reconkey.date_created }}</td>
                                                            <td class="none"> {{ reconkey.client_facility_name }}</td>
                                                            <td class="none"> {{ reconkey.shift_date }}</td>
                                                            <td class="none"> {{ reconkey.invoice }}</td>
                                                            <td class="none"> {{ reconkey.description }}</td>
                                                            <td class="none"> {{ reconkey.rev_code }}</td>
                                                            <td class="none"> {{ reconkey.hcpcs_cpt_code }}</td>
                                                            <td class="none"> {{ reconkey.quantity_units }}</td>
                                                            <td class="none"> {{ reconkey.orig_charge }}</td>
                                                            <td class="none"> {{ reconkey.adjustments }}</td>
                                                            <td class="none"> {{ reconkey.amount }}</td>
                                                            <td class="none"> {{ reconkey.balance }}</td>
                                                            <td class="none"> {{ reconkey.key_id }}</td>
                                                          </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>  
        </div>
    </div>      
    <!-- END PAGE CONTENT INNER -->
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready( 
        Dropzone.options.myDropzone = {
            dictDefaultMessage: "",
            init: function() {
                this.on("addedfile", function(file) {
                    // Create the remove button
                    var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn red btn-sm btn-block'>Remove</a>");
                    
                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function(e) {
                      // Make sure the button click doesn't submit the form:
                      e.preventDefault();
                      e.stopPropagation();

                      // Remove the file preview.
                      _this.removeFile(file);
                      // If you want to the delete the file on the server as well,
                      // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                    // $("#my-dropzone").submit().delay(5000);
                });

                this.on("success", function(file, responseText) {
                    console.log(responseText); // console should show the ID you pointed to
                    // $("#content").html(responseText);    
                    location.reload();
                    // do stuff with file.id ...
                });
            }            
        }
    );
</script>
{% endblock %}
