{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% load humanize %}

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'pages/css/pricing.min.css' %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{% endblock %}


{% block content %}
<!-- BEGIN PAGE CONTENT INNER -->
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light " id="form_wizard_1" style="margin-bottom : 0px;">
                    <div class="portlet-title" style="border : none;">
                        <div class="caption col-md-4 col-sm-5 col-xs-12">
                          <i class="fa fa-life-ring font-red"></i>
                          <span class="caption-subject font-red bold uppercase">
                            Payment Data
                          </span>
                        </div>
                        <form action="{% url 'search_batch_no' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-md-3 col-sm-4 col-xs-10 pull-right">
                                <div class="input-group select2-bootstrap-append">
                                    <select id="single-append-text" class="form-control select2-allow-clear" name="payment_batch_no">
                                        <option></option>
                                        {% for batch in payment_batch_no_arr%}
                                            <option value="{{ batch.batch_no}}">{{ batch.batch_no }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'clear_data' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default pull-right" name="refresh" value="input_payment_data"><i class="fa fa-plus"></i></button>
                        </form>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav nav-tabs">
                            <li class="{% ifequal view 'batch' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_1" data-toggle="tab" class="caption-subject font-green bold uppercase"> Batches </a>
                            </li>
                            <li class="{% ifequal view 'detail' %} active{% else %} '' {% endifequal %}">
                                <a href="#tab_1_2" data-toggle="tab" class="caption-subject font-green bold uppercase"> Payments </a>
                            </li>
                        </ul>  
                        <div class="tab-content">
                            <div class="tab-pane fade {% ifequal view 'batch' %} active in{% else %} '' {% endifequal %} in" id="tab_1_1">
                                <div class="portlet light ">
                                    <div class="portlet-title">
                                        <div class="tools"></div>
                                    </div>
                                    <div class="portlet-body">
                                        <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_4">
                                            <thead>
                                                <tr>
                                                    <td class="all"> batch_no</td>
                                                    <td class="min-tablet"> count </td>
                                                    <td class="min-tablet"> date/time created </td>
                                                    <td class="all"> actions </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for batch in payment_batch_no_arr %}
                                                  <tr>
                                                    <td  class="all"> {{ batch.batch_no }} </td> 
                                                    <td class="min-tablet"> {{ batch.count }} </td> 
                                                    <td class="min-tablet"> {{ batch.uploaded_date }} </td> 
                                                    <td  class="all"> 
                                                        <a class="btn btn-default pull-right" data-target="#static" data-toggle="modal" style="margin-left: 5px;">Delete</a>
                                                        <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                                            <div class="modal-body" style="text-align: center;">
                                                                <p style="font-size: 18px;"> Are you sure? </p>
                                                            </div>
                                                            <div class="modal-footer" style="text-align: center;" >
                                                                <form action="{% url 'remove_data' %}" method="POST">
                                                                    {% csrf_token %}
                                                                     <input type="hidden" name="batch_no" value="{{ batch.batch_no }}">
                                                                    <button type="submit" class="btn green" name="refresh" value="input_payment_data" style="width : 80px ;">Yes</button>
                                                                    <button type="button" data-dismiss="modal" class="btn btn-default" style="width : 80px ;">No</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <form action="{% url 'search_batch_no' %}" method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-default pull-right" name="payment_batch_no" value={{ batch.batch_no }} >View</button>
                                                        </form>
                                                    </td> 
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           <div class="tab-pane fade {% ifequal view 'detail' %} active in{% else %} '' {% endifequal %} " id="tab_1_2">
                                <div class="portlet-body form" id="content">
                                    {% if not input_payment_arr %}
                                        <div class="page-content-inner" style="display: flex;">
                                            <form action="{% url 'payment_board' %}" class="dropzone dropzone-file-area col-md-4 col-xs-5" method="POST" enctype="multipart/form-data" id="my-dropzone" style="margin-top : 20px;margin-bottom : 20px;">
                                                {% csrf_token %}
                                                <h3 class="sbold" id="file_upload">Drop files here or click here</h3>
                                            </form>
                                        </div>
                                    {% endif %}
                                        <div class="portlet light ">
                                            <div class="portlet-title">
                                                <div class="tools"></div>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover dt-responsive data_table" width="100%" id="sample_3">
                                                    <thead>
                                                        <tr>
                                                            <td classname="all"> batch_no </td>
                                                            <td classname="all"> payment_id </td>
                                                            <td classname="min-tablet"> check </td>
                                                            <td classname="min-tablet"> recon_key </td>
                                                            <td classname="min-tablet"> check_amount </td>
                                                            <td classname="all"> action </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for payment in input_payment_arr %}
                                                            <tr>
                                                                <td classname="all"> {{ payment.batch_no }} </td>
                                                                <td classname="all"> {{ payment.payment_id }} </td>
                                                                <td classname="min-tablet"> {{ payment.check }} </td>
                                                                <td classname="min-tablet"> {{ payment.recon_key }} </td>
                                                                <td classname="min-tablet"> ${{ payment.check_amount  | intcomma   }} </td>
                                                                <td class="all"><a class="pull-right btn btn-default" data-target="#modal{{ payment.payment_id  }}" data-toggle="modal">view</a></td>
                                                            </tr>
                                                            <div class="modal right fade" id="modal{{ payment.payment_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <a type="button" class="exit_modal pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove"></i></a>
                                                                            <h4 class="modal-title font-red bold uppercase" id="myModalLabel2"><i class="fa fa-life-ring font-red"></i> Payment : {{ payment.payment_id }}</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                           <ul class="list-group">
                                                                                <li class="list-group-item"> <span class="property-name"> Bacth Id : </span>  {{ payment.batch_no }} </li> 
                                                                                <li class="list-group-item"> <span class="property-name"> Payment Check : </span>  {{ payment.check }} </li> 
                                                                                <li class="list-group-item"> <span class="property-name"> Recon Key : </span>  {{ payment.recon_key }} </li> 
                                                                                <li class="list-group-item"> <span class="property-name"> Payment Check Amount : </span>  ${{ payment.check_amount }} </li> 
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>  
        </div>
    </div>      
    <!-- END PAGE CONTENT INNER -->
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready( 
        Dropzone.options.myDropzone = {
            dictDefaultMessage: "",
            init: function() {
                this.on("addedfile", function(file) {
                    // Create the remove button
                    var removeButton = Dropzone.createElement("<a href='javascript:;'' class='btn red btn-sm btn-block'>Remove</a>");
                    
                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function(e) {
                      // Make sure the button click doesn't submit the form:
                      e.preventDefault();
                      e.stopPropagation();

                      // Remove the file preview.
                      _this.removeFile(file);
                      // If you want to the delete the file on the server as well,
                      // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                    // $("#my-dropzone").submit().delay(5000);
                });

                this.on("success", function(file, responseText) {
                    console.log(responseText); // console should show the ID you pointed to
                    // $("#content").html(responseText);    
                    location.reload();
                    // do stuff with file.id ...
                });
            }            
        }
    );
</script>
{% endblock %}
